<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Update Employee</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <th:block th:replace="~{fragments/nav :: navbar}"></th:block>

    <div class="container mt-5">
      <h2>Update Employee</h2>
      <form
        th:action="@{/contract/update}"
        th:object="${contractForm}"
        method="post"
        class="needs-validation"
      >
        <input type="hidden" th:field="*{contractId}" />
        <!-- EMPLOYEE DATA -->
        <h4>Employee Info</h4>
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" th:field="*{firstName}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('firstName')}"
            th:errors="*{firstName}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" th:field="*{lastName}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('lastName')}"
            th:errors="*{lastName}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" th:field="*{email}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('email')}"
            th:errors="*{email}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="cuil" class="form-label">CUIL</label>
          <input type="text" th:field="*{cuil}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('cuil')}"
            th:errors="*{cuil}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Phone</label>
          <input type="text" th:field="*{phone}" class="form-control" />
        </div>

        <div class="mb-3">
          <label for="jobType" class="form-label">Job Type</label>
          <select th:field="*{jobType}" class="form-select">
            <option
              th:each="type : ${T(com.springboot.domesticworkregistry.enums.JobType).values()}"
              th:value="${type}"
              th:text="${type}"
            >
              JobType
            </option>
          </select>
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('jobType')}"
            th:errors="*{jobType}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="employmentType" class="form-label">Employment Type</label>
          <select th:field="*{employmentType}" class="form-select">
            <option
              th:each="type : ${T(com.springboot.domesticworkregistry.enums.EmploymentType).values()}"
              th:value="${type}"
              th:text="${type}"
            >
              EmploymentType
            </option>
          </select>
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('employmentType')}"
            th:errors="*{employmentType}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="salary" class="form-label">Salary</label>
          <input
            type="number"
            step="0.01"
            th:field="*{salary}"
            class="form-control"
          />
        </div>

        <!-- ADDRESS DATA -->
        <h4>Address</h4>
        <div class="mb-3">
          <label for="street" class="form-label">Street</label>
          <input type="text" th:field="*{street}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('street')}"
            th:errors="*{street}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="number" class="form-label">Number</label>
          <input type="text" th:field="*{number}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('number')}"
            th:errors="*{number}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="city" class="form-label">City</label>
          <input type="text" th:field="*{city}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('city')}"
            th:errors="*{city}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="postalCode" class="form-label">Postal Code</label>
          <input type="text" th:field="*{postalCode}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('postalCode')}"
            th:errors="*{postalCode}"
          ></div>
        </div>

        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input type="text" th:field="*{country}" class="form-control" />
          <div
            class="text-danger"
            th:if="${#fields.hasErrors('country')}"
            th:errors="*{country}"
          ></div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>

    <!-- Footer -->
    <th:block th:replace="~{fragments/footer :: footer}"></th:block>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
