<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-4 mt-5"  th:fragment="footer">
      <div class="container">
        <p class="mb-1">&copy; 2025 Registro de Trabajo Doméstico</p>
        <small class="text-muted"
          >Hecho con 💼 para apoyar el empleo doméstico justo.</small
        >
      </div>
    </footer>
</body>
</html>